.App {
  background-image: url("https://images.squarespace-cdn.com/content/v1/554530dae4b0f235dbcc1021/1459716223292-GSCHMHUB49RM5PEIOG3F/ke17ZwdGBToddI8pDm48kHD3I8MUR1US8LyQHF2IqGxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI1nZeKnEOhOo1PPUyBovQ_qh5mWH-VJSpyVfrw_9LhIUKMshLAGzx4R3EDFOm1kBS/Walker_Art_Ctr_bg2012cinema0709_008_LG.jpg?format=1500w");
  text-align: center;
  background-repeat: no-repeat;
 
 background-size: cover;

}

.dfl{
  display: flex;
  flex-wrap: wrap;
}
/*bouotonn*/
.buton{
  margin:30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.dfl{
  display: flex;
  flex-wrap: wrap;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react-rater-star.is-active{
  color: yellow !important;
  font-size: 1.5rem !important;
}
.react-rater-star {
  cursor: pointer;
  color: rgb(131, 127, 26) !important;
  font-size: 1.5rem !important;
  position: relative;
}
  .react-rater-star.is-active-half:before {
    color: rgb(168, 153, 20)!important;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}