.cwart{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}
.star{
    width: 30px;
}
 .links li{
    color:rgb(245, 241, 241);
}
.Navbar.Brand {
    width: 80px;
}
.basic-navbar-nav{padding-top: -150px;}
.azaz{
   height:70px;
    background-image: url("https://ak.picdn.net/shutterstock/videos/3467858/thumb/1.jpg");}
    .text-footer{background-color: #21081a;}
    .Brand{size: 16px;
        color :red;
    }
    .crd{display: flex;
    flex-wrap: wrap;}