.cwart{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}
.star{
    width: 30px;
}
.mr-auto{ margin :80px;
padding :10px}
.Navbar.Brand {
    width: 50px;
}
.azaz{
   height:100px;
    background-image: url("https://cms-assets.tutsplus.com/uploads/users/2469/posts/35585/image/movies%20fpp%20bg.jpg");}