.cwart{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}
.star{
    width: 30px;
}
 .links li{
    color:rgb(226, 213, 213);
    margin: 20px;
    display: flex;
    align-content: center;
}
.Navbar.Brand {
    width: 80px;
}
.basic-navbar-nav{padding-top: -150px;}
.azaz{
   height:70px;
    background-color:#D9482B ;}
    .text-footer{background-color:rosybrown;}
    .Brand{size: 16px;
        color :#D9482B;
    }
    .crd{display: flex;
    flex-wrap: wrap;}
     .navbar-brand {
    background-color:#D9482B ;
  ;
    }

.imgg{size: 5px;}
